<footer role="contentinfo">
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>Nettsted-designet er opprinnelig laget av <a href="http://tom.preston-werner.com/">Tom Preston-Werner</a> og distribuert under en <a href="{{ site.repository }}/blob/master/LICENSE">MIT-lisens</a>.<br>Endringer og tilpasninger for bruk i IT-fagene er gjort av <a href="https://github.com/fuzzbin">fuzzbin</a> og <a href="https://github.com/bitjungle">bitjungle</a>.</p>
    </div>
    <div class="unit one-third center-on-mobiles">
      <p>&nbsp;</p>
    </div>
    <div class="unit one-third center-on-mobiles">
      <p>Dersom intet annet er angitt, er alt nettstedinnhold laget av <a href="https://github.com/fuzzbin">fuzzbin</a> og <a href="https://github.com/bitjungle">bitjungle</a>. Innholdet distribueres under lisensen <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.no">Creative Commons BY-SA</a>.
      </p>
    </div>
  </div>
</footer>
