@import url(http://fonts.googleapis.com/css?family=Poiret+One);

body {
    background-color: #FCDAA9;
    color: #000000;
    font-family:  sans-serif;
}

.hoved {
	margin: 1em;
}

a {
    color: white;
    text-decoration: none;
}
a:hover, a:focus {
    color: yellow;
    text-decoration: underline;
}
a:active {
    color: yellow;
}

h1, h2, h3, h4 {
    font-family: "Poiret One", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1em;
    margin-bottom: 0em;
}

p {
    margin-bottom: 20px;
}

iframe {
	border: 0;
}

img.float-left {
    float: left;
    margin: 0 20px 20px 0;
}
img.float-right {
    float: right;
    margin: 0 0 20px 20px;
}
img.center {
    margin: 0 auto;
    display: block;
}

#skjemaknapper {
    margin-top: 1em;
}

.text-left 	  { text-align: left; }
.text-center  { text-align: center; }
.text-right   { text-align: right; }
.text-justify { text-align: justify; }

.kildeinfo {
	font-size: 80%;
}

#logo {
    font: 20px "Poiret One", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
}
