# McBergbys med CSS-grid v.0.1beta - fuzzbin & bitjungle 2018

body {
    background-color: #FCDAA9;
    color: #000000;
    font-family:  verdana, sans-serif;
    font-size: 12;
}

/* Gridstrukturen her hentet fra MDN Grid template*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    grid-auto-rows: minmax(3em, auto);
  }

  .header {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: red;
  }

  .meny { 
    grid-column: 1 / 4;
    grid-row: 2;
    background-color: yellow;
  }

  .bestilling {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    background-color: green;
  }

  .burgerinfo {
    grid-column: 3 / 4;
    grid-row: 3;
    background-color: purple;
  }

  .infotekst {
    grid-column: 3 / 4;
    grid-row: 4;
    background-color: pink;
  }

  .footer {
    grid-column: 1 / 4;
    grid-row: 5;
    background-color: cyan;
  }

#burgerbilde {
      width: 100%;
  }

/* Menystyling fra w3schools - Horizontal nav example */
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav > ul > li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.4em 1.6em;
    text-decoration: none;
}

nav > ul > li a:hover {
    background-color: #111;
}

.active {
    background-color: rgb(31, 29, 29);
}