@import url(http://fonts.googleapis.com/css?family=Poiret+One);

body {
    background-color: #2B1A01;
    color: #FCDAA9;
    font: 14px/20px "Poiret One", Helvetica, Arial, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}
a:hover, a:focus {
    color: yellow;
    text-decoration: underline;
}
a:active {
    color: yellow;
}

h1 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 20px;
}
h3 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

iframe {
	border: 0;
}

img.float-left {
    float: left;
    margin: 0 20px 20px 0;
}
img.float-right {
    float: right;
    margin: 0 0 20px 20px;
}
img.center {
    margin: 0 auto;
    display: block;
}

#kartboks {
	width: 250px;
	float: right;
	background-color: #FCDAA9;
	color: black;
	font-weight: bold;
	border-style: solid;
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-left: 20px;
	text-align: center;
}

#garantiboks {
	float: left;
	margin: 20px;
	padding: 20px;
	color: black;
	background-color: silver;
}


.text-left 	  { text-align: left; }
.text-center  { text-align: center; }
.text-right   { text-align: right; }
.text-justify { text-align: justify; }

.kildeinfo {
	font-size: 80%;
}

nav {
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

/* 
Kilde for kode til navigasjonsmeny: http://www.webcodegeeks.com/html5/html5-navigation-bar-example/ 
*/

nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}

/* Create a style for the first level items */
nav > ul > li > a {
    color: white;
    background-color: black;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

#aktiv {
	background-color: #FCDAA9;
	color: black;
}