@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body {
    background-color: rgb(255, 196, 0);
    color: #333;
    font: 14px/20px "Indie Flower", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

img.midtjustert {
    margin: 0 auto;
    display: block;
}
