.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
	background-color: rgb(245, 120, 104);
	padding: 10px;
	justify-content: space-around;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
}


table {
	background-color: #FFD520;
	padding: 6px;
}

table {
	border-style: solid;
	border-width: 4px;
	border-color: black;
}

th,
td {
	padding: 4px;
}

#klasseromsbilde {
	margin-left: 10px;
}

.norsk {
	background-color: #6ac4ae;
}

.historie {
	background-color: rgb(0, 177, 199);
}

.samfunn {
	background-color: rgb(106, 73, 62);
}

.matte {
	background-color: silver;
}

.kjemi {
	background-color: rgb(241, 136, 21);
}

.gym {
	background-color: rgb(149, 96, 165);
}

.rle {
	background-color: maroon;
}

.kontakt {
	background-color: white;
}

.fri {
	background-color: black;
	color: white;
}

.it {
	background-color: #e30438;
}

.fysikk {
	background-color: rgb(0, 108, 131);
}

.fagdag {
	background-color: red;
}